@charset 'utf-8';

@use "../../mixin/media-queries" as *;

.media {
  display: flex;
  flex-direction: column;
  align-content: center;
  max-width: 100%;
  align-items: center;
  margin-bottom: 20px;

  [class^="hdg"] + & {
    margin-top: 30px;
  }

  &__caption {
    margin-top: 5px;
  }

  &__caption-txt {
    margin-bottom: 0;
    font-size: 1.4rem;
    line-height: 1.25;
    text-align: center;
  }

  @include rwd(pc) {
    margin-bottom: 30px;
  }
}
