@charset 'utf-8';

@use "../../core/setting" as *;
@use "../../mixin/media-queries" as *;
@use "../../mixin/space-reset" as *;

.grid-btn {
  $_this: &;

  &__inner {
    display: flex;
    justify-content: center;
    column-gap: 20px;
  }

  &__col {
    @include space-reset;
  }
}
