@charset 'utf-8';

@use "../../core/setting" as *;
@use "../../mixin/media-queries" as *;
@use "../../mixin/space-reset" as *;
@use "../../mixin/hover" as *;

.icon {
  $_this: &;

  margin-left: 5px;
  display: inline-flex;
  align-items: center;

  &__path {
    fill: #707070;
  }

  &--white {
    #{$_this}__path {
      fill: $color-white;
    }
  }
}
