@charset 'utf-8';

@use "../../core/setting" as *;
@use "../../mixin/media-queries" as *;
@use "../../mixin/space-reset" as *;
@use "../../mixin/hover" as *;

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  row-gap: 10px;

  &__item {
    display: flex;
    column-gap: 10px;
    margin-bottom: 0;
  }

  &__label {
    font-size: 1.4rem;
    padding: 1px 10px 3px;
    background: $color-main-red;
    color: $color-white;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
  }

  &__link {
    color: $color-font-base;
    text-decoration: none;
  }
}
