---
# メタ情報を設定してください
# 第3階層以降にあたるページの場合はFIFTH_DIRECTORY_NAME: FOURTH_DIRECTORY_NAME: THIRD_DIRECTORY_NAME: SECOND_DIRECTORY_NAME:に直上の階層にあたる文言を入れてください。なければ空白のままで大丈夫です

layout: _outer/top
PAGE_TITLE: Mash
FIFTH_DIRECTORY_NAME:
FOURTH_DIRECTORY_NAME:
THIRD_DIRECTORY_NAME:
SECOND_DIRECTORY_NAME:
META_DESCRIPTION: 開発環境サンプル
META_KEYWORD: []
OGIMAGE: dummy.png

---

<!-- ======================== Header ======================== -->
<%- include (`/_layout/_header`) %>
<!-- ======================== Header ======================== -->

<!-- ======================== Contents ======================== -->
<main class="main">

<div class="top-carousel splide">
<div class="top-carousel__wrap splide__track">
<ul class="top-carousel__list splide__list">
<li class="top-carousel__item splide__slide">
<img src="/assets/dummy/1920x700.png" alt="">
</li>
<li class="top-carousel__item splide__slide">
<img src="/assets/dummy/1920x700.png" alt="">
</li>
<li class="top-carousel__item splide__slide">
<img src="/assets/dummy/1920x700.png" alt="">
</li>
</ul><!-- /.top-carousel__list -->

<div class="splide__progress">
<div class="splide__progress__bar">
</div>
</div>

<div class="top-carousel-control">

<ul class="splide__pagination"></ul>

<button class="carousel-control-btn splide__toggle" type="button">
<span class="carousel-control-btn__item carousel-control-btn__item-play splide__toggle__play">再生する</span>
<span class="carousel-control-btn__item carousel-control-btn__item-stop splide__toggle__pause">停止する</span>
</button><!-- /.carousel-control-btn -->

</div><!-- /.top-carousel-control -->
</div><!-- /.top-carousel__wrap -->
</div><!-- /.top-carousel -->

<div class="top-section">
<div class="top-section__inner">

<div class="news-link-list">
<ul class="news-link-list__list">

<li class="news-link-list__item">
<div class="news-link-list__date">2022年12月00日</div>
<div class="news-link-list__txt">
<a href="___dummy___" class="news-link-list__link">ニュースリストのダミーテキスト</a>
</div><!-- /.news-link-list__txt -->
</li><!-- /.news-link-list__item -->

<li class="news-link-list__item">
<div class="news-link-list__date">2022年12月00日</div>
<div class="news-link-list__txt">
<a href="___dummy___" class="news-link-list__link">ニュースリストのダミーテキストニュースリストのダミーテキストニュースリストのダミーテキスト</a>
</div><!-- /.news-link-list__txt -->
</li><!-- /.news-link-list__item -->

<li class="news-link-list__item">
<div class="news-link-list__date">2022年12月00日</div>
<div class="news-link-list__txt">
<a href="___dummy___" class="news-link-list__link">ニュースリストのダミーテキストニュースリストのダミーテキストニュースリストのダミーテキスト</a>
</div><!-- /.news-link-list__txt -->
</li><!-- /.news-link-list__item -->

<li class="news-link-list__item">
<div class="news-link-list__date">2022年12月00日</div>
<div class="news-link-list__txt">
<a href="___dummy___" class="news-link-list__link">ニュースリストのダミーテキストニュースリストのダミーテキストニュースリストのダミーテキスト</a>
</div><!-- /.news-link-list__txt -->
</li><!-- /.news-link-list__item -->

</ul><!-- /.news-link-list__list -->
</div><!-- /.news-link-list -->

</div><!-- /.top-section__inner -->
</div><!-- /.top-section -->

</main><!-- /.main -->
<!-- ======================== Contents ======================== -->

<!-- ======================== Footer ======================== -->
<%- include (`/_layout/_footer`) %>
<!-- ======================== Footer ======================== -->
