---
# メタ情報を設定してください
# 第3階層以降にあたるページの場合はFIFTH_DIRECTORY_NAME: FOURTH_DIRECTORY_NAME: THIRD_DIRECTORY_NAME: SECOND_DIRECTORY_NAME:に直上の階層にあたる文言を入れてください。なければ空白のままで大丈夫です

layout: _outer/top
PAGE_TITLE: Mash
FIFTH_DIRECTORY_NAME:
FOURTH_DIRECTORY_NAME:
THIRD_DIRECTORY_NAME:
SECOND_DIRECTORY_NAME:
META_DESCRIPTION: 開発環境サンプル
META_KEYWORD: []
OGIMAGE: dummy.png

---

<!-- ======================== Header ======================== -->
<%- include (`/_layout/_header`) %>
<!-- ======================== Header ======================== -->

<!-- ======================== Contents ======================== -->
<main class="main">

<div class="top-carousel splide">
<div class="top-carousel__wrap splide__track">
<ul class="top-carousel__list splide__list">
<li class="top-carousel__item splide__slide">
<img src="/assets/dummy/1920x700.png" alt="">
</li>
<li class="top-carousel__item splide__slide">
<img src="/assets/dummy/1920x700.png" alt="">
</li>
<li class="top-carousel__item splide__slide">
<img src="/assets/dummy/1920x700.png" alt="">
</li>
</ul><!-- /.top-carousel__list -->
</div><!-- /.top-carousel__wrap -->

<div class="top-carousel-arrow splide__arrows"></div><!-- /.top-carousel-arrow -->

<div class="top-carousel-progress splide__progress">
<div class="top-carousel-progress__bar splide__progress__bar">
</div><!-- /.top-carousel-progress__bar -->
</div><!-- /.top-carousel-progress -->

<div class="top-carousel-controller">

<div class="top-carousel-controller__item">
<button class="top-carousel-playbtn splide__toggle" type="button">
<span class="top-carousel-playbtn__item top-carousel-playbtn__item-play splide__toggle__play"><span class="top-carousel-playbtn__txt">再生する</span></span>
<span class="top-carousel-playbtn__item top-carousel-playbtn__item-stop splide__toggle__pause"><span class="top-carousel-playbtn__txt">停止する</span></span>
</button><!-- /.top-carousel-playbtn -->
</div><!-- /.top-carousel-controller__item -->

<div class="top-carousel-controller__item">
<ul class="top-carousel-pagination splide__pagination"></ul>
</div><!-- /.top-carousel-controller__item -->

</div><!-- /.top-carousel-controller -->
</div><!-- /.top-carousel -->

<div class="top-section">
<div class="top-section__inner">

<div class="top-hdg-l2">
<h2 class="top-hdg-l2__inner">
<span class="top-hdg-l2__txt-sub">News</span>
<span class="top-hdg-l2__txt-main">ニュース</span>
</h2><!-- /.top-hdg-l2__inner -->
</div><!-- /.top-hdg-l2 -->

<div class="news-link-list">
<ul class="news-link-list__list">

<li class="news-link-list__item">
<div class="news-link-list__date">2022年12月00日</div>
<div class="news-link-list__txt">
<a href="___dummy___" class="news-link-list__link">ニュースリストのダミーテキスト</a>
</div><!-- /.news-link-list__txt -->
</li><!-- /.news-link-list__item -->

<li class="news-link-list__item">
<div class="news-link-list__date">2022年12月00日</div>
<div class="news-link-list__txt">
<a href="___dummy___" class="news-link-list__link">ニュースリストのダミーテキストニュースリストのダミーテキストニュースリストのダミーテキスト</a>
</div><!-- /.news-link-list__txt -->
</li><!-- /.news-link-list__item -->

<li class="news-link-list__item">
<div class="news-link-list__date">2022年12月00日</div>
<div class="news-link-list__txt">
<a href="___dummy___" class="news-link-list__link">ニュースリストのダミーテキストニュースリストのダミーテキストニュースリストのダミーテキスト</a>
</div><!-- /.news-link-list__txt -->
</li><!-- /.news-link-list__item -->

<li class="news-link-list__item">
<div class="news-link-list__date">2022年12月00日</div>
<div class="news-link-list__txt">
<a href="___dummy___" class="news-link-list__link">ニュースリストのダミーテキストニュースリストのダミーテキストニュースリストのダミーテキスト</a>
</div><!-- /.news-link-list__txt -->
</li><!-- /.news-link-list__item -->

</ul><!-- /.news-link-list__list -->
</div><!-- /.news-link-list -->

</div><!-- /.top-section__inner -->
</div><!-- /.top-section -->

<div class="top-section">
<div class="top-section__inner">

<div class="top-hdg-l2">
<h2 class="top-hdg-l2__inner">
<span class="top-hdg-l2__txt-sub">heading</span>
<span class="top-hdg-l2__txt-main">見出しのサンプル</span>
</h2><!-- /.top-hdg-l2__inner -->
</div><!-- /.top-hdg-l2 -->

<div class="grid" data-col-narrow="1" data-col-wide="2">
<div class="grid__inner">
<div class="grid__col">
<div class="grid__content">
<div class="media">
<div class="media__img">
<img src="/assets/dummy/800x240.png" alt="" width="800" height="240">
</div><!-- /.media__img -->
</div><!-- /.media -->
</div><!-- /.grid__content -->
</div><!-- /.grid__col -->

<div class="grid__col">
<div class="grid__content">
<div class="media">
<div class="media__img">
<img src="/assets/dummy/800x240.png" alt="" width="800" height="240">
</div><!-- /.media__img -->
</div><!-- /.media -->
</div><!-- /.grid__content -->
</div><!-- /.grid__col -->
</div><!-- /.grid__inner -->
</div><!-- /.grid -->

</div><!-- /.top-section__inner -->
</div><!-- /.top-section -->

</main><!-- /.main -->
<!-- ======================== Contents ======================== -->

<!-- ======================== Footer ======================== -->
<%- include (`/_layout/_footer`) %>
<!-- ======================== Footer ======================== -->
