---
# メタ情報を設定してください

layout: _outer/default
PAGE_TITLE: キリングループロジスティクス株式会社
META_DESCRIPTION: キリングループロジスティクスのウェブサイトです。確かな物流企画提案力で物流革新をお約束。「物流管理士」「国際物流管理士」を数多く擁するトップレベルの物流プロフェッショナル集団として、物流革新をお約束します。
META_KEYWORD: []

---

<!-- ======================== Header ======================== -->
<%- include (`/_layout/_header`) %>
<!-- ======================== Header ======================== -->

<!-- ======================== Contents ======================== -->
<main class="main">

<div class="top-section-main-visual">
<div class="top-section-main-visual__inner">

<div class="top-carousel swiper">
<div class="top-carousel__wrap swiper-wrapper">

<div class="swiper-slide top-carousel__item">
<div class="top-carousel-link">
<div class="top-carousel-link__item">
<picture>
<source media="(min-width: 769px)" srcset="/img/index-carousel-01_pc.png">
<img src="/img/index-carousel-01_sp.png" alt="" class="top-carousel-link__img">
</picture>
</div><!-- /.top-carousel-link__item -->
</div><!-- /.top-carousel-link -->
</div><!-- /.top-carousel__item -->


<div class="swiper-slide top-carousel__item">
<a href="/recruit/" class="top-carousel-link">
<div class="top-carousel-link__item">
<picture>
<source media="(min-width: 769px)" srcset="/img/index-carousel-02_pc.png">
<img src="/img/index-carousel-02_sp.png" alt="" class="top-carousel-link__img">
</picture>
</div><!-- /.top-carousel-link__item -->
</a><!-- /.top-carousel-link -->
</div><!-- /.top-carousel__item -->

</div><!-- /.top-carousel__wrap -->

<div class="top-carousel-controller">
<div class="top-carousel-controller__item">
<div class="top-carousel-playbtn">
<button class="top-carousel-playbtn__btn" type="button"><span class="top-carousel-playbtn__btn-txt">停止する</span></button>
</div><!-- /.top-carousel-playbtn -->
</div><!-- /.top-carousel-controller__item -->
<div class="top-carousel-controller__item">
<div class="top-carousel-pagination"></div>
</div><!-- /.top-carousel-controller__item -->
</div><!-- /.top-carousel-Controller -->
</div><!-- /.top-carousel -->

</div><!-- /.top-section-main-visual__inner -->
</div><!-- /.top-section-main-visual -->

<div class="top-section-strength">
<div class="top-section-strength__inner">

<div class="top-hdg-l2">
<h2 class="top-hdg-l2__inner">
<span class="top-hdg-l2__txt-sub">OUR STRENGTH</span>
<span class="top-hdg-l2__txt-main">私たちの強み</span>
</h2><!-- /.top-hdg-l2__inner -->
</div><!-- /.top-hdg-l2 -->

<div class="top-strength-panel">
<div class="top-strength-panel__inner">

<div class="top-strength-panel__head">

<div class="top-strength-panel__hdg">
<p class="top-strength-panel__txt">キリングループ以外のお客様にも、ご満足いただけるよう、<br class="adjust-display-wide">キリングループで培った高い品質の物流サービスをご提供します。<br>キリン製品をベースカーゴとした全国輸配送網を活用し、<br class="adjust-display-wide">安全・安心の輸配送サービスをお約束します。</p>

<div class="top-strength-panel__decoration">
<img src="/img/index-decoration-01.png" alt="" class="top-strength-panel__decoration-img">
</div><!-- /.top-strength-panel__decoration -->
</div><!-- /.top-strength-panel__hdg -->


<div class="top-link-panel-list">
<ul class="top-link-panel-list__list">

<li class="top-link-panel-list__item">
<a href="/strength/service/" class="top-link-panel-list__panel">
<div class="top-link-panel-list__head">配送について</div>
<div class="top-link-panel-list__body">
<img src="/img/index-img-01.png" alt="" class="top-link-panel-list__img" width="265" height="190">
</div><!-- /.top-link-panel-list__body -->
</a><!-- /.top-link-panel-list__panel -->
</li><!-- /.top-link-panel-list__item -->

<li class="top-link-panel-list__item">
<a href="___dummy___" class="top-link-panel-list__panel">
<div class="top-link-panel-list__head">社員インタビュー</div>
<div class="top-link-panel-list__body">
<img src="/img/index-img-02.png" alt="" class="top-link-panel-list__img" width="265" height="190">
</div><!-- /.top-link-panel-list__body -->
</a><!-- /.top-link-panel-list__panel -->
</li><!-- /.top-link-panel-list__item -->

<li class="top-link-panel-list__item">
<a href="___dummy___" class="top-link-panel-list__panel">
<div class="top-link-panel-list__head">安全・環境について</div>
<div class="top-link-panel-list__body">
<img src="/img/index-img-03.png" alt="" class="top-link-panel-list__img" width="265" height="190">
</div><!-- /.top-link-panel-list__body -->
</a><!-- /.top-link-panel-list__panel -->
</li><!-- /.top-link-panel-list__item -->

<li class="top-link-panel-list__item">
<a href="___dummy___" class="top-link-panel-list__panel">
<div class="top-link-panel-list__head">物流拠点情報</div>
<div class="top-link-panel-list__body">
<img src="/img/index-img-04.png" alt="" class="top-link-panel-list__img" width="265" height="190">
</div><!-- /.top-link-panel-list__body -->
</a><!-- /.top-link-panel-list__panel -->
</li><!-- /.top-link-panel-list__item -->

</ul><!-- /.top-link-panel-list__list -->
</div><!-- /.top-link-panel-list -->

<div class="btn">
<a href="/strength/" class="btn__btn">
<span class="btn__txt">私たちの強みトップへ</span>
</a><!-- /.btn__btn -->
</div><!-- /.btn  -->

</div><!-- /.top-strength-panel__head -->
<div class="top-strength-panel__body">
<picture>
<source media="(min-width: 769px)" srcset="/img/index-bg-01_pc.png">
<img src="/img/index-bg-01_sp.png" alt="" class="top-strength-panel__bg">
</picture>
</div><!-- /.top-strength-panel__body -->

</div><!-- /.top-strength-panel__inner -->
</div><!-- /.top-strength-panel -->

</div><!-- /.top-section-strength__inner -->
</div><!-- /.top-section-strength -->

<div class="top-section-company">
<div class="top-section-company__inner">

<div class="top-panel" data-media-layout-wide="left">
<div class="top-panel__head top-panel__head--bg-white">

<h2 class="top-panel__hdg">
<span class="top-panel__hdg-sub top-panel__hdg-sub--color-red">COMPANY INFORMATION</span>
<span class="top-panel__hdg-main top-panel__hdg-main--color-black">企業情報</span>
</h2><!-- /.top-panel__hdg -->

<p class="top-panel__lede top-panel__lede--color-black">小さな日本一を、<br class="adjust-display-narrow">パートナーと共に、たくさん創る</p>

<div class="btn">
<a href="___dummy___" class="btn__btn">
<span class="btn__txt">詳しく見る</span>
</a><!-- /.btn__btn -->
</div><!-- /.btn  -->

</div><!-- /.top-panel__head -->
<div class="top-panel__body">
<picture>
<source media="(min-width: 769px)" srcset="/img/index-img-05_pc.png">
<img src="/img/index-img-05_sp.png" alt="" class="top-panel__img">
</picture>
</div><!-- /.top-panel__body -->

<div class="top-panel__foot top-panel__foot--bg-white">
<div class="top-panel__txt-foot top-panel__txt-foot--color-white">COMPANY</div>
<div class="top-panel__txt-foot top-panel__txt-foot--color-white">INFORMATION</div>
</div><!-- /.top-panel__foot -->
</div><!-- /.top-panel -->

</div><!-- /.top-section-company__inner -->
</div><!-- /.top-section-company -->
<div class="top-section-recruit">
<div class="top-section-recruit__inner">

<div class="top-panel" data-media-layout-wide="right">
<div class="top-panel__head top-panel__head--bg-red">

<h2 class="top-panel__hdg">
<span class="top-panel__hdg-sub top-panel__hdg-sub--color-white">RECRUITMENT INFOMATION</span>
<span class="top-panel__hdg-main top-panel__hdg-main--color-white">採用情報</span>
</h2><!-- /.top-panel__hdg -->

<p class="top-panel__lede top-panel__lede--color-white">「キリン品質」の未来を担う</p>

<p class="top-panel__txt">それは”あなたの大切な未来”を<br>未来のあなたに届けること</p>

<div class="btn btn--color-02">
<a href="___dummy___" class="btn__btn">
<span class="btn__txt">詳しく見る</span>
</a><!-- /.btn__btn -->
</div><!-- /.btn  -->

</div><!-- /.top-panel__head -->
<div class="top-panel__body">
<picture>
<source media="(min-width: 769px)" srcset="/img/index-img-06_pc.png">
<img src="/img/index-img-06_sp.png" alt="" class="top-panel__img">
</picture>
</div><!-- /.top-panel__body -->

<div class="top-panel__foot top-panel__foot--color-red">
<div class="top-panel__txt-foot top-panel__txt-foot--color-red">RECRUITMENT</div>
<div class="top-panel__txt-foot top-panel__txt-foot--color-red">INFORMATION</div>
</div><!-- /.top-panel__foot -->
</div><!-- /.top-panel -->

</div><!-- /.top-section-recruit__inner -->
</div><!-- /.top-section-recruit -->

<div class="top-section-topics">
<div class="top-section-topics__inner">

<div class="top-hdg-l2 top-hdg-l2--type02">
<h2 class="top-hdg-l2__inner">
<span class="top-hdg-l2__txt-sub">TOPICS</span>
<span class="top-hdg-l2__txt-main">トピックス</span>
</h2><!-- /.top-hdg-l2__inner -->
</div><!-- /.top-hdg-l2 -->

<div class="top-topics-list">
<ul class="top-topics-list__list">

<li class="top-topics-list__item">
<a href="___dummy___" class="top-topics-list__link">
<time class="top-topics-list__date" datetime="2022-12-01">2022年12月01日</time>
<div class="top-topics-list__txt">2022年度の入社式を開催～新入社員17名が参加～（リリース）</div>
</a><!-- /.top-topics-list__link -->
</li><!-- /.top-topics-list__item -->

<li class="top-topics-list__item">
<a href="___dummy___" class="top-topics-list__link">
<time class="top-topics-list__date" datetime="2022-12-01">2022年12月01日</time>
<div class="top-topics-list__txt">「フォーク誘導タブレット」と「OCR検品システム」導入によりキリンビール工場でトラック構内滞留時間を約10%削減へ（リリース）</div>
</a><!-- /.top-topics-list__link -->
</li><!-- /.top-topics-list__item -->

<li class="top-topics-list__item">
<a href="___dummy___" class="top-topics-list__link">
<time class="top-topics-list__date" datetime="2022-12-01">2022年12月01日</time>
<div class="top-topics-list__txt">～配送トラックの拘束時間の削減を実現～「ASNデータ」を利用したトラック単位での「検品レス」の取り組み推進について（リリース）</div>
</a><!-- /.top-topics-list__link -->
</li><!-- /.top-topics-list__item -->

<li class="top-topics-list__item">
<a href="___dummy___" class="top-topics-list__link">
<time class="top-topics-list__date" datetime="2022-12-01">2022年12月01日</time>
<div class="top-topics-list__txt">「経験者採用社員交流会」をオンラインで開催～多様な社員が、働きやすく、働きがいの持てる組織風土を目指して～（リリース）</div>
</a><!-- /.top-topics-list__link -->
</li><!-- /.top-topics-list__item -->

<li class="top-topics-list__item">
<a href="___dummy___" class="top-topics-list__link">
<time class="top-topics-list__date" datetime="2022-12-01">2022年12月01日</time>
<div class="top-topics-list__txt">「2021年度キリングループロジスティクス大賞」発表会をオンラインで開催～社会的功績、業務遂行上、非常に高い効果をあげた14案件が受賞～（リリース）</div>
</a><!-- /.top-topics-list__link -->
</li><!-- /.top-topics-list__item -->

</ul><!-- /.top-topics-list__list -->
</div><!-- /.top-topics-list -->

<div class="btn">
<a href="___dummy___" class="btn__btn">
<span class="btn__txt">トピックス一覧</span>
</a><!-- /.btn__btn -->
</div><!-- /.btn  -->

</div><!-- /.top-section-topics__inner -->
</div><!-- /.top-section-topics -->

<div class="top-section-bnr">
<div class="top-section-bnr__inner">

<div class="top-bnr-layout">
<div class="top-bnr-layout__inner">
<div class="top-bnr-layout__col">

<a href="https://www.kirin.co.jp/" class="top-bnr-layout__link" target="_blank">
<img src="/img/index-bnr-01.svg" alt="">
</a><!-- /.top-bnr-layout__link -->

</div><!-- /.top-bnr-layout__col -->
<div class="top-bnr-layout__col">

<div class="top-bnr-desc">
<dl class="top-bnr-desc__item">
<dt class="top-bnr-desc__term">キリングループロジスティクスグループ</dt><!-- /.top-bnr-desc__term -->

<dd class="top-bnr-desc__desc">
<ul class="top-bnr-list">
<li class="top-bnr-list__item">
<a href="/info/kls_higashinihon/" class="top-bnr-list__link">ケーエルサービス東日本(株)</a><!-- /.top-bnr-list__link -->
</li><!-- /.top-bnr-desc__list-item -->

<li class="top-bnr-list__item">
<a href="/info/kls_nishinihon/" class="top-bnr-list__link">ケーエルサービス西日本(株)</a><!-- /.top-bnr-list__link -->
</li><!-- /.top-bnr-desc__list-item -->

<li class="top-bnr-list__item">
<a href="/info/kls_kyusyu/" class="top-bnr-list__link">ケーエルサービス九州(株)</a><!-- /.top-bnr-list__link -->
</li><!-- /.top-bnr-desc__list-item -->
</ul><!-- /.top-bnr-desc__list -->
</dd><!-- /.top-bnr-desc__desc -->
</dl><!-- /.top-bnr-desc__item -->
</div><!-- /.top-bnr-desc -->

</div><!-- /.top-bnr-layout__col -->
</div><!-- /.top-bnr-layout__inner -->
</div><!-- /.top-bnr-layout -->

</div><!-- /.top-section-bnr__inner -->
</div><!-- /.top-section-bnr -->


</main><!-- /.main -->
<!-- ======================== Contents ======================== -->

<!-- ======================== Footer ======================== -->
<%- include (`/_layout/_footer`) %>
<!-- ======================== Footer ======================== -->
