---
# メタ情報を設定してください
# 第3階層以降にあたるページの場合はFIFTH_DIRECTORY_NAME: FOURTH_DIRECTORY_NAME: THIRD_DIRECTORY_NAME: SECOND_DIRECTORY_NAME:に直上の階層にあたる文言を入れてください。なければ空白のままで大丈夫です

layout: _outer/default
PAGE_TITLE: Mash
FIFTH_DIRECTORY_NAME:
FOURTH_DIRECTORY_NAME:
THIRD_DIRECTORY_NAME:
SECOND_DIRECTORY_NAME:
META_DESCRIPTION: 開発環境サンプル
META_KEYWORD: []
OGIMAGE: dummy.png

---

<!-- ======================== Header ======================== -->
<%- include (`/_layout/_header`) %>
<!-- ======================== Header ======================== -->

<!-- ======================== Contents ======================== -->
<main class="main">

<p>sample page</p>

</main><!-- /.main -->
<!-- ======================== Contents ======================== -->

<!-- ======================== Footer ======================== -->
<%- include (`/_layout/_footer`) %>
<!-- ======================== Footer ======================== -->
