@charset 'utf-8';

@use "../../../../core/setting" as *;
@use "../../../../mixin/media-queries" as *;
@use "../../../../mixin/space-reset" as *;
@use "../../../../mixin/hover" as *;

.top-bnr-desc {
  $_this: &;

  &__item {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }

  &__term {
    font-size: 1.8rem;
    font-weight: $font-weight-bold;
  }

  @include rwd(pc) {
    row-gap: 20px;
  }
}
