<nav class="sidenav" aria-labelledby="sidenav">

<div class="sidenav__hdg">
<h2 class="sidenav__hdg-txt" id="sidenav">
<a href="___dummy___" class="sidenav__hdg-link">
<span class="sidenav__hdg-link-txt">サンプル</span>
</a><!-- /.sidenav__hdg-link -->
</h2><!-- /.sidenav__hdg-txt -->
</div><!-- /.sidenav__hdg -->

<ul class="sidenav__list js-sidenav-dropwdown">

<li class="sidenav__item">
<a href="/sample/" class="sidenav__link" aria-current="page">
<span class="sidenav__link-txt">サンプルページ</span>
</a><!-- /.sidenav__link -->
</li><!-- /.sidenav__item -->

<li class="sidenav__item sidenav-dropdown js-sidenav-dropwdown">
<a href="___dummy___" class="sidenav__link sidenav-dropdown__btn js-sidenav-dropwdown__trigger">
<span class="sidenav__link-txt">サンプルページ</span>
</a><!-- /.sidenav__link -->

<ul class="sidenav__list js-sidenav-dropwdown__content">
<li class="sidenav__item">
<a href="___dummy___" class="sidenav__link">
<span class="sidenav__link-txt">サンプルページ</span>
</a><!-- /.sidenav__link -->
</li><!-- /.sidenav__item -->


</ul><!-- /.sidenav__list -->
</li><!-- /.sidenav__item -->

<li class="sidenav__item">
<a href="___dummy___" class="sidenav__link">
<span class="sidenav__link-txt">サンプルページ</span>
</a><!-- /.sidenav__link -->
</li><!-- /.sidenav__item -->

</ul><!-- /.sidenav__list -->
</nav><!-- /.sidenav -->