@charset 'utf-8';

@use "../../../core/setting" as *;
@use "../../../mixin/media-queries" as *;
@use "../../../mixin/space-reset" as *;
@use "../../../mixin/hover" as *;

.top-section-bnr {
  &__inner {
    padding: 40px 15px;

    @include space-reset;
  }

  @include rwd(pc) {
    &__inner {
      max-width: $content-width;
      width: 100%;
      margin: 0 auto;
    }
  }
}
