@charset 'utf-8';

@use "../../../../core/setting" as *;
@use "../../../../mixin/media-queries" as *;
@use "../../../../mixin/space-reset" as *;
@use "../../../../mixin/hover" as *;

.top-carousel-progress {
  height: 3px;
  
  &__bar {
    height: 100%;
    height: 3px;
    background: $color-bg-black;
  }
}
