@charset 'utf-8';

@use "mixin";
@use "../../../node_modules/@splidejs/splide/dist/css/splide-core.min.css";
// @use "../../../node_modules/@splidejs/splide/dist/css/splide.min.css";
@use "core";
@use "layout";
@use "unique/top";
