<footer class="footer">
<div class="footer-inner">

<div class="footer-inner__inner">

<div class="footer-link-list">
<ul class="footer-link-list__list">
<li class="footer-link-list__item">
<a href="___dummy___" class="footer-link-list__link">ダミーリンク</a>
</li><!-- /.footer-link-list__item -->
<li class="footer-link-list__item">
<a href="___dummy___" class="footer-link-list__link">ダミーリンク</a>
</li><!-- /.footer-link-list__item -->
<li class="footer-link-list__item">
<a href="___dummy___" class="footer-link-list__link">ダミーリンク</a>
</li><!-- /.footer-link-list__item -->
<li class="footer-link-list__item">
<a href="___dummy___" class="footer-link-list__link">ダミーリンク</a>
</li><!-- /.footer-link-list__item -->
</ul><!-- /.footer-link-list__list -->
</div><!-- /.footer-link-list -->

<p class="footer-copy"><small>Copyright © xxxx mash</small></p>

</div><!-- /.footer-inner__inner -->

<div class="footer-to-top">
<div class="footer-to-top__inner">
<a href="#top" class="footer-to-top__link js-totop">
<span class="footer-to-top__txt">ページの一番上に戻る</span><!-- /.footer-to-top__txt -->
</a><!-- /.footer-to-top__link -->
</div><!-- /.footer-to-top__inner -->
</div><!-- /.footer-to-top -->

</div><!-- /.footer-inner -->
</footer><!-- /.footer -->
