<header class="header js-header">
<div class="header__inner js-hamburgerMenu">
<div class="header__head">
<h1 class="header-logo">
<a class="header-logo__link" href="/">
<img src="/assets/image/logo.png" alt="#mash" width="93" height="28" class="ロゴサンプル">
</a><!-- /.header-logo__link -->
</h1><!-- /.header-logo -->

<div class="header__menu">
<button type="button" class="hamburger-btn js-hamburgerMenu__trigger">
<span class="hamburger-btn__txt">
<span class="hamburger-btn__txt-item">メニュー</span>
</span><!-- /.hamburger-btn__txt -->
</button><!-- /.hamburger-btn -->
</div><!-- /.header__menu -->
</div><!-- /.header__head -->

<div class="header__body js-hamburgerMenu__content">
<div class="header__body-inner">
<nav class="global-nav">
<ul class="global-nav__list">
<li class="global-nav__item js-dropdown">
<div class="global-nav__btn">
<button type="button" class="global-nav__btn-inner js-dropdown__trigger">
<span class="global-nav__btn-txt">ドロップダウン</span>
</button><!-- /.global-nav__btn-inner -->
</div><!-- /.global-nav__btn -->

<div class="global-nav__content js-dropdown__content">
<div class="global-nav__content-inner">
<p class="global-nav__child-top-item">
<b class="global-nav__child-top-item-inner">
<a class="global-nav__child-top-link" href="___dummy___">
<span class="global-nav__child-top-link-txt">ダミー</span>
</a><!-- /.global-nav__child-top-link -->
</b><!-- /.global-nav__child-top-item-inner -->
</p><!-- /.global-nav__child-top-item -->

<ul class="global-nav__child-list">
<li class="global-nav__child-item">
<a href="___dummy___" class="global-nav__child-link">
<span class="global-nav__child-link-txt">ドロップダウン</span>
</a><!-- /.global-nav__child-link -->
</li><!-- /.global-nav__child-item -->
</ul><!-- /.global-nav__child-list -->
</div><!-- /.global-nav__content-inner -->
</div><!-- /.global-nav__content -->
</li><!-- /.global-nav__item -->

<li class="global-nav__item">
<div class="global-nav__btn global-nav__btn--link">
<a href="___dummy___" class="global-nav__btn-inner">
<span class="global-nav__btn-txt">リンク</span>
</a><!-- /.global-nav__btn-inner -->
</div><!-- /.global-nav__btn -->
</li><!-- /.global-nav__item -->
</ul><!-- /.global-nav__list -->
</nav><!-- /.global-nav -->
</div><!-- /.header__body-inner -->
</div><!-- /.header__body -->

</div><!-- /.header__inner -->
</header><!-- /.header -->
