<header class="header js-header">
<div class="header__inner js-hamburgerMenu">
<div class="header__head">
<h1 class="header-logo">
<a class="header-logo__link" href="/">
<img src="/assets/img/logo-kirin.svg" alt="よろこびがつなぐ世界へ KIRIN" width="93" height="28" class="header-logo__img-01">
<img src="/assets/img/logo-logistics.svg" alt="キリングループロジスティクス株式会社" width="194" height="11" class="header-logo__img-02">
</a><!-- /.header-logo__link -->
</h1><!-- /.header-logo -->

<div class="header__menu">
<button type="button" class="hamburger-btn js-hamburgerMenu__trigger">
<span class="hamburger-btn__txt">
<span class="hamburger-btn__txt-item">メニュー</span>
</span><!-- /.hamburger-btn__txt -->
</button><!-- /.hamburger-btn -->
</div><!-- /.header__menu -->
</div><!-- /.header__head -->

<div class="header__body js-hamburgerMenu__content">
<div class="header__body-inner">
<nav class="global-nav">
<ul class="global-nav__list">
<li class="global-nav__item js-dropdown">
<div class="global-nav__btn">
<button type="button" class="global-nav__btn-inner js-dropdown__trigger">
<span class="global-nav__btn-txt">私たちの強み</span>
</button><!-- /.global-nav__btn-inner -->
</div><!-- /.global-nav__btn -->

<div class="global-nav__content js-dropdown__content">
<div class="global-nav__content-inner">
<p class="global-nav__child-top-item">
<b class="global-nav__child-top-item-inner">
<a class="global-nav__child-top-link" href="/strength/">
<span class="global-nav__child-top-link-txt">私たちの強みトップ</span>
</a><!-- /.global-nav__child-top-link -->
</b><!-- /.global-nav__child-top-item-inner -->
</p><!-- /.global-nav__child-top-item -->

<ul class="global-nav__child-list">
<li class="global-nav__child-item">
<a href="/strength/service/" class="global-nav__child-link">
<span class="global-nav__child-link-txt">物流サービス</span>
</a><!-- /.global-nav__child-link -->
</li><!-- /.global-nav__child-item -->

<li class="global-nav__child-item">
<a href="/strength/white-logistics/" class="global-nav__child-link">
<span class="global-nav__child-link-txt">ホワイト物流の推進</span>
</a><!-- /.global-nav__child-link -->
</li><!-- /.global-nav__child-item -->

<li class="global-nav__child-item">
<a href="/strength/white-logistics/" class="global-nav__child-link">
<span class="global-nav__child-link-txt">インタビュー</span>
</a><!-- /.global-nav__child-link -->
</li><!-- /.global-nav__child-item -->

<li class="global-nav__child-item">
<a href="/strength/philosophy/" class="global-nav__child-link">
<span class="global-nav__child-link-txt">新経営理念ができるまで</span>
</a><!-- /.global-nav__child-link -->
</li><!-- /.global-nav__child-item -->

<li class="global-nav__child-item">
<a href="/strength/improvement/" class="global-nav__child-link">
<span class="global-nav__child-link-txt">改善チャレンジ</span>
</a><!-- /.global-nav__child-link -->
</li><!-- /.global-nav__child-item -->

<li class="global-nav__child-item">
<a href="/strength/achievements/" class="global-nav__child-link">
<span class="global-nav__child-link-txt">メディア掲載されたキリン品質</span>
</a><!-- /.global-nav__child-link -->
</li><!-- /.global-nav__child-item -->

<li class="global-nav__child-item">
<a href="/strength/safety/" class="global-nav__child-link">
<span class="global-nav__child-link-txt">安全・品質・環境</span>
</a><!-- /.global-nav__child-link -->
</li><!-- /.global-nav__child-item -->

<li class="global-nav__child-item">
<a href="/strength/network/" class="global-nav__child-link">
<span class="global-nav__child-link-txt">物流拠点情報</span>
</a><!-- /.global-nav__child-link -->
</li><!-- /.global-nav__child-item -->
</ul><!-- /.global-nav__child-list -->
</div><!-- /.global-nav__content-inner -->
</div><!-- /.global-nav__content -->
</li><!-- /.global-nav__item -->

<li class="global-nav__item js-dropdown">
<div class="global-nav__btn">
<button type="button" class="global-nav__btn-inner js-dropdown__trigger">
<span class="global-nav__btn-txt">企業情報</span>
</button><!-- /.global-nav__btn-inner -->
</div><!-- /.global-nav__btn -->

<div class="global-nav__content js-dropdown__content">
<div class="global-nav__content-inner">
<p class="global-nav__child-top-item">
<b class="global-nav__child-top-item-inner">
<a class="global-nav__child-top-link" href="/company/">
<span class="global-nav__child-top-link-txt">企業情報トップ</span>
</a><!-- /.global-nav__child-top-link -->
</b><!-- /.global-nav__child-top-item-inner -->
</p><!-- /.global-nav__child-top-item -->

<ul class="global-nav__child-list">
<li class="global-nav__child-item">
<a href="/company/greeting/" class="global-nav__child-link">
<span class="global-nav__child-link-txt">トップメッセージ</span>
</a><!-- /.global-nav__child-link -->
</li><!-- /.global-nav__child-item -->
<li class="global-nav__child-item">
<a href="/company/promise/" class="global-nav__child-link">
<span class="global-nav__child-link-txt">キリン品質について</span>
</a><!-- /.global-nav__child-link -->
</li><!-- /.global-nav__child-item -->

<li class="global-nav__child-item">
<a href="/company/policy/" class="global-nav__child-link">
<span class="global-nav__child-link-txt">経営理念</span>
</a><!-- /.global-nav__child-link -->
</li><!-- /.global-nav__child-item -->

<li class="global-nav__child-item">
<a href="/company/outline/" class="global-nav__child-link">
<span class="global-nav__child-link-txt">会社概要</span>
</a><!-- /.global-nav__child-link -->
</li><!-- /.global-nav__child-item -->

<li class="global-nav__child-item">
<a href="/company/history/" class="global-nav__child-link">
<span class="global-nav__child-link-txt">沿革</span>
</a><!-- /.global-nav__child-link -->
</li><!-- /.global-nav__child-item -->

<li class="global-nav__child-item">
<a href="/company/organization/" class="global-nav__child-link">
<span class="global-nav__child-link-txt">組織図</span>
</a><!-- /.global-nav__child-link -->
</li><!-- /.global-nav__child-item -->

<li class="global-nav__child-item">
<a href="/company/group/" class="global-nav__child-link">
<span class="global-nav__child-link-txt">グループ会社一覧</span>
</a><!-- /.global-nav__child-link -->
</li><!-- /.global-nav__child-item -->
</ul><!-- /.global-nav__child-list -->
</div><!-- /.global-nav__content-inner -->
</div><!-- /.global-nav__content -->
</li><!-- /.global-nav__item -->

<li class="global-nav__item">
<div class="global-nav__btn global-nav__btn--link">
<a href="/recruit/" class="global-nav__btn-inner">
<span class="global-nav__btn-txt">採用情報</span>
</a><!-- /.global-nav__btn-inner -->
</div><!-- /.global-nav__btn -->
</li><!-- /.global-nav__item -->

<li class="global-nav__item">
<div class="global-nav__btn global-nav__btn--link">
<a href="/contact/" class="global-nav__btn-inner">
<span class="global-nav__btn-txt">お問い合わせ</span>
</a><!-- /.global-nav__btn-inner -->
</div><!-- /.global-nav__btn -->
</li><!-- /.global-nav__item -->
</ul><!-- /.global-nav__list -->
</nav><!-- /.global-nav -->
</div><!-- /.header__body-inner -->
</div><!-- /.header__body -->
<div class="header__foot">
<div class="header-nav">
<ul class="header-nav__list">
<li class="header-nav__item">
<a href="https://www.kirin.co.jp/" class="header-nav__link">キリングループ<span class="icon icon--blank"><svg xmlns="http://www.w3.org/2000/svg" width="10" height="9.01" viewBox="0 0 10 9.01" role="img" aria-label="新しいウィンドウで開きます"><path class="icon__path" d="M284.978,255.657v-7h8v7Zm1-1h6v-3h-6Zm8-2.011v-5h-7v-1h8v6Z" transform="translate(-284.978 -246.647)"></path></svg></span></a>
</li><!-- /.header-nav__item -->
</ul><!-- /.header-nav__list -->
</div><!-- /.header-nav -->
</div><!-- /.header__foot -->
</div><!-- /.header__inner -->
</header><!-- /.header -->
