@charset 'utf-8';

@use "../../core/setting" as *;
@use "../../mixin/media-queries" as *;

.hdg-l4 {
  margin-top: 40px;
  margin-bottom: 15px;

  .hdg-l3 + &,
  .hdg-l3-num + & {
    margin-top: 20px;
  }

  &__inner {
    padding: 4px 10px;
    border-left: 4px solid $color-main-red;
    line-height: 1.25;
    font-size: 2rem;
    font-weight: $font-weight-bold;
  }

  @include rwd(pc) {
    &__inner {
      font-size: 2.2rem;
    }
  }
}
